<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TPlanMapper">
    <select id="countSamePlanName" resultType="java.lang.Integer">
        select count(1) from t_plan where name = #{params.name} and plan_id != #{params.id}
    </select>
    <select id="selectPlanById" resultType="com.example.demo.model.TPlanModel">
        select * from t_plan where plan_id = #{value}
    </select>
</mapper>